/* Google Fonts like */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Shortcuts and Customization */
:root {
    --font_Inter: Inter;
    --font_Raleway: Raleway;
    --blueColor: #4E47FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

}

body {
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    margin: auto;
    background-color: white;

    button:hover {
        cursor: pointer;
    }
}

/*  */


header {
    width: 100%;
    height: 698px;
    background-image: url(Assets/Hero-bg.png);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1140px;
        margin: auto;
        padding: 50px 0 50px 0;

        h1 {
            color: #4E47FF;
            font-size: 34px;
            font-family: var(--font_Inter);
            line-height: 150%;
            letter-spacing: 0px;
        }

        .button {
            background-color: var(--blueColor);
            width: 132px;
            height: 48px;
            color: white;
            border-radius: 10px;
            border: none;
        }
    }

    /* Nav End here */
    .heroContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 37px;
        padding: 50px 0 50px 0;

        p {
            font-size: 65px;
            font-weight: bold;
            font-family: var(--font_Raleway);
            color: #252432;
            text-align: center;
        }

        button {
            height: 48px;
            width: 174px;
            background-color: var(--blueColor);
            color: white;
            border-radius: 10px;
            border: none;
        }
    }
}

/* Header complete */

.seeItInAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 116px;
    height: 328px;

    .left {
        width: 517px;
        height: 203px;
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: start;

        h1 {
            font-size: 42px;
            font-weight: bold;
            font-family: var(--font_Raleway);
        }

        p {
            font-family: var(--font_Raleway);
            line-height: 30px;
            font-size: 24px;
            color: #252432;
            opacity: 50%;
        }

        button {
            height: 48px;
            width: 299px;
            background-color: var(--blueColor);
            font-family: var(--font_Raleway);
            border: none;
            border-radius: 10px;
            color: white;
        }
    }

    .right {
        img {
            width: 403px;
            height: 328px;
            border-radius: 48px;
        }
    }
}

.productiveUsers {
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 38px;
        font-family: var(--font_Raleway);
        font-weight: bold;
        margin-bottom: 40px;
    }

    .items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            h3 {
                font-size: 80px;
                font-family: var(--font_Inter);
                font-weight: bold;
                color: var(--blueColor);
            }

            span {
                font-size: 20px;
                font-family: var(--font_Inter);
                color: black;
                opacity: 50%;
            }
        }
    }
}


.whatOurUserSay {
    margin-top: 137px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 137px;

    h1 {
        font-size: 42px;
        font-family: var(--font_Raleway);
        font-weight: bold;
        margin-bottom: 50px;
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .card {
            border: 1px solid rgb(213, 203, 203);
            border-radius: 14px;
            width: 366px;
            height: 243px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: start;

            .star_box {
                width: 116px;
                gap: 4px;
                justify-content: space-between;
                align-items: center;
            }

            h1 {
                font-size: 24px;
                font-weight: bold;
                height: 28px;
                letter-spacing: -2%;
                color: black;
                margin: 0px;
                padding: 0px;
            }

            p {
                font-size: 16px;
                line-height: 140%;
            }


            .user_info {
                display: flex;
                justify-content: center;
                gap: 12px;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }

                .user_data {
                    h1 {
                        color: #757575;
                        font-weight: bold;
                    }

                    span {
                        color: #B3B3B3;
                    }
                }
            }
        }
    }
}

.readyToFocusBetter {
    height: 696.77px;
    padding: 71px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h1 {
        font-family: var(--font_Raleway);
        font-weight: bold;
        line-height: 120%;
    }

    p {
        color: #000000;
        opacity: 50%;
        line-height: 140%;

    }

    button {
        height: 48px;
        width: 195px;
        border-radius: 10px;
        border: none;
        background-color: var(--blueColor);
        color: white;
    }

    img {
        height: 364.77px;
        width: 840px;
        border-radius: 48px;
    }

}

.formContainer {
    padding: 71px 0;
    margin-top: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        h1 {
            font-size: 97px;
            font-weight: bold;
            font-family: var(--font_Raleway);
            line-height: 120%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 19px;

        .item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: start;

            h1 {
                font-size: 18px;
                font-weight: bold;
                line-height: 120px;
            }

            input {
                border: .1px solid #D6DDED;
                width: 497px;
                height: 70px;
                border-radius: 10px;
                padding: 20px 32px;
            }

            .messageInput {
                height: 135px;
                margin: 0;
            }
        }

        button {
            width: 497px;
            height: 62px;
            border: none;
            border-radius: 10px;
            background-color: var(--blueColor);
            color: white;
        }
    }
}

footer {
    width: 100%;
    height: 428px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footerContent {
        height: 221px;
        width: 531px;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 150px;
            font-family: Arial;
            color: var(--blueColor);
            font-weight: bold;
        }

        p {
            text-align: center;
            font-family: var(--font_Inter);
            line-height: 150%;
            color: #8987A1;
        }

        .navbar {
            margin-top: 20px;

            ul {
                width: 401px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: #8987A1;
                        font-family: var(--font_Inter);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}